.filters {
  padding: 20px;
  margin: 10px 20px;
  background: $alternative;
  border-radius: $default-border-radius;
  @include flex($justify-content: space-around);
  &__input {
    border-radius: 0;
    border: 1px solid $secondary;
    background-color: $input-search-color;
    padding: 10px 10px;
    font-size: x-small;
    width: 200px;
    color: $input-search-color-active;
    margin: auto;
    &:focus {
      border-color: $input-search-color-active
    }
  }
}