.login {
  &__wrapper {
    @include flex($flow: column);
    height: 100vh;
  }

  &__title {
    font-size: x-large;
    margin-bottom: 15px;
  }

  &__box {
    border-radius: $default-border-radius;
    border: 1px solid #fff;
    color: $text-primary;
    padding: 30px;
    @include flex($flow: column);
    box-shadow: 8px 8px 15px 0 rgba($primary, .7);
  }

  &__error {
    font-size: medium;
    color: red;
    padding: 5px 0 10px 0;
  }
}
