.list {
  color: $text-primary;
  height: 100vh;
  overflow: hidden;

  &__wrapper {
    margin: 0 20px 10px;
    padding: 10px 20px;
    width: 100%;
    height: calc(100% - 150px);
    //@include flex(center, flex-start, column)
  }

  .list__row {
    height: 50px;
    display: grid;
    grid-template-columns: 300px repeat(6, 1fr);
  }

  .ReactVirtualized__Table__headerRow {
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px #fff solid;
  }

  .ReactVirtualized__Table__row {
    &:nth-child(even) {
      background: $secondary;
    }
  }
}

.header-bar {
  height: 40px;
  width: 100%;
  border-bottom: 1px #fff solid;
  color: #fff;
  background: $primary;

  &__account-container {
    @include flex($justify-content: flex-end);
    height: 100%;
    padding: 0 10px;
  }

  &__account-name {
    padding-right: 10px;
  }

  &__logout-button {
    width: 26px;
    cursor: pointer;

    img {
      width: 100%
    }
  }
}
