.productList {
  height: 100vh;
  color: $text-primary;
  &__container {
    height: calc(100% - 120px);
  }
  &__box {
    padding: 20px;
    margin: 10px 20px;
    height: calc(100% - 60px);
    background: $alternative;
    border-radius: $default-border-radius;
  }
}

.header-bar {
  height: 40px;
  border-bottom: 1px white solid;
  background: $alternative;
  &__accountContainer {
    @include flex($justify-content: flex-end);
    height: 100%;
    padding: 0 10px;
  }
  &__accountName {
    padding-right: 10px;
  }
  &__logoutButton {
    width: 26px;
    cursor: pointer;
    & img{
      width: 100%
    }
  }
}
